<!DOCTYPE html>
<html>
  <head>
    <title>{{pagina}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <main>
      {{> header}} <!-- Incluye el archivo header.hbs -->
      {{{body}}}
      {{> footer}} <!-- Incluye el archivo footer.hbs -->
   </main>
  </body>
</html>
